.card {
  display: inline-block;
  margin: 1.7rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.card img {
  width: 6rem;
  height: 6rem;
  padding: 0.6rem;
}

.card:hover {
  border-color: orangered;
  transform: translateY(-5px);
}

h3,p {
  text-align: center;
}
