<div class="card" style="width: 18rem;">
  <img src="assets/badges/special-badge.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h3>Special Badges</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/badges/bronze-badge.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h3>Bronze Badges</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/badges/silver-badge.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h3>Bronze Badges</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/badges/gold-badge.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h3>Bronze Badges</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="assets/badges/platinum-badge.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h3>Bronze Badges</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


