<div class="container">
    <div class="row user-profile-content justify-content-between align-items-center">
      <div class="col-md-6 top-profile-page">
        <div class="d-flex justify-content-between align-items-center">
          <img src="assets/users/user-7.jpg" class="card-img-top img-fluid" alt="User Photo">
          <div>
            <h2>Marilyn Grant</h2>
            <h4>Member since 1 year ago</h4>
            <h4>Last seen this week</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end"> <!-- Add this column for the button -->
        <a href="/user-profile" class="btn btn-primary">Edit Profile</a>
      </div>
    </div>




  <div class="row profile-achievements">
    <div class="col-md-3 profile-tags">
      <h2>1942</h2>
      <span>Answers</span>
    </div>
    <div class="col-md-3 profile-tags">
      <h2>507</h2>
      <span>Questions</span>
    </div>
    <div class="col-md-3 profile-tags">
      <h2>124</h2>
      <span>Best Answers</span>
    </div>
    <div class="col-md-3 profile-tags">
      <h2>2M</h2>
      <span>Reached</span>
    </div>
  </div>

  <div class="row self-info">
    <div class="col-md-12">
      <h2>About</h2>
      <p>
        Hello
        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Cras ultricies ligula magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit tortor eget felis porttitor volutpat faucibus orci luctus et ultrices posuere .

        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Proin eget tortor risus blandit aliquet elit, eget tincidunt nibh.
      </p>
    </div>
  </div>

  <div class="badges">
    <h2>Badges</h2>
    <div class="badge-container">
      <div class="card">
        <img src="assets/badges/special-badge.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3>Special Badges</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/badges/gold-badge.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3>Gold Badge</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="top-tags">
    <h2>Top Tags</h2>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        discussion <span>0 posts%   0 posts 0 score</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        language <span>0 posts%   0 posts 0 score</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        analytics <span>0 posts%   0 posts 0 score</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        computer <span>0 posts%   0 posts 0 score</span>
      </li>
    </ul>
  </div>




</div>
