<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="container">
      <img src="assets/main-logo.jpg" class="logo">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-grow-1 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="''">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="blogDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu" aria-labelledby="blogDropdown">
            <li><a class="dropdown-item" href="#">Blog</a></li>
            <li><a class="dropdown-item" href="#">Blog Details</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="pagesDropdown">
            <li><a class="dropdown-item" href="#">Activity</a></li>
            <li><a class="dropdown-item" href="#">Referrals</a></li>
            <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
            <li><a class="dropdown-item" href="#">Terms & Conditions</a></li>
            <li><a class="dropdown-item" href="#">Coming Soon</a></li>
            <li><a class="dropdown-item" href="#">404 Page</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <div class="input-group me-2">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" id="search-btn" type="submit">Search</button>
        </div>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="!userProfileService.isUserProfileVisible">
        <li class="nav-item">
          <a class="btn btn-outline-success" id="login-btn" type="button" (click)="openLoginDialog('1500ms', '1500ms'); ">Log in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success" id="signup-btn" type="button" (click)="openSignupDialog('1500ms', '1500ms')">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
